<!DOCTYPE html>

<head>
	<title>GPIO Control</title>
	<link rel="stylesheet" href='../static/style.css' />
</head>

<body style="text-align: center;">

		<h2>Controls</h2>
		<h3>
			GPIO 13
			<a href="/thirteen/on">ON</a>
			<a href="/thirteen/off">OFF</a>
		</h3>
		<h3>
			GPIO 19
			<a href="/nineteen/on">ON</a>
			<a href="/nineteen/off">OFF</a>
		</h3>
		<h3>
			GPIO 26
			<a href="/twentysix/on">ON</a>
			<a href="/twentysix/off">OFF</a>
		</h3>
		<h3>
			GPIO 14
			<a href="/fourteen/on">ON</a>
			<a href="/fourteen/off">OFF</a>
		</h3>
		<h3>
			GPIO 15
			<a href="/fifteen/on">ON</a>
			<a href="/fifteen/off">OFF</a>
		</h3>
		<h3>
			GPIO 18
			<a href="/eighteen/on">ON</a>
			<a href="/eighteen/off">OFF</a>
		</h3>
		<h3>
			GPIO 23
			<a href="/twentythree/on">ON</a>
			<a href="/twentythree/off">OFF</a>
		</h3>
		<h3>
			GPIO 24
			<a href="/twentyfour/on">ON</a>
			<a href="/twentyfour/off">OFF</a>
		</h3>
		<h3>
			GPIO 25
			<a href="/twentyfive/on">ON</a>
			<a href="/twentyfive/off">OFF</a>
		</h3>
		<h3>
			GPIO 8
			<a href="/eight/on">ON</a>
			<a href="/eight/off">OFF</a>
		</h3>
		<h3>
			GPIO 7
			<a href="/seven/on">ON</a>
			<a href="/seven/off">OFF</a>
		</h3>
		<h3>
			GPIO 12
			<a href="/twelve/on">ON</a>
			<a href="/twelve/off">OFF</a>
		</h3>
		<h3>
			GPIO 16
			<a href="/sixteen/on">ON</a>
			<a href="/sixteen/off">OFF</a>
		</h3>
		<h3>
			GPIO 20
			<a href="/twenty/on">ON</a>
			<a href="/twenty/off">OFF</a>
		</h3>
		<h3>
			GPIO 21
			<a href="/twentyone/on">ON</a>
			<a href="/twentyone/off">OFF</a>
		</h3>
		<h3>
			GPIO 2
			<a href="/two/on">ON</a>
			<a href="/two/off">OFF</a>
		</h3>
		<h3>
			GPIO 3
			<a href="/three/on">ON</a>
			<a href="/three/off">OFF</a>
		</h3>
		<h3>
			GPIO 4
			<a href="/four/on">ON</a>
			<a href="/four/off">OFF</a>
		</h3>
		<h3>
			GPIO 17
			<a href="/seventeen/on">ON</a>
			<a href="/seventeen/off">OFF</a>
		</h3>
		<h3>
			GPIO 27
			<a href="/twentyseven/on">ON</a>
			<a href="/twentyseven/off">OFF</a>
		</h3>
		<h3>
			GPIO 22
			<a href="/twentytwo/on">ON</a>
			<a href="/twentytwo/off">OFF</a>
		</h3>
		<h3>
			GPIO 10
			<a href="/ten/on">ON</a>
			<a href="/ten/off">OFF</a>
		</h3>
		<h3>
			GPIO 9
			<a href="/nine/on">ON</a>
			<a href="/nine/off">OFF</a>
		</h3>
		<h3>
			GPIO 11
			<a href="/eleven/on">ON</a>
			<a href="/eleven/off">OFF</a>
		</h3>
		<h3>
			GPIO 5
			<a href="/five/on">ON</a>
			<a href="/five/off">OFF</a>
		</h3>
		<h3>
			GPIO 6
			<a href="/six/on">ON</a>
			<a href="/six/off">OFF</a>
		</h3>
</body>

</html>