<!DOCTYPE html>

<head>
	<title>GPIO Control</title>
	<link rel="stylesheet" href='../static/style.css' />
</head>

<body>
	<center>
		<h2>Controls</h2>
		<h3>
			GPIO 13
			<a href="/thirteen/on" class="button">ON</a>
			<a href="/thirteen/off" class="button">OFF</a>
		</h3>
		<h3>
			GPIO 19
			<a href="/nineteen/on" class="button">ON</a>
			<a href="/nineteen/off" class="button">OFF</a>
		</h3>
		<h3>
			GPIO 26
			<a href="/twentysix/on" class="button">ON</a>
			<a href="/twentysix/off" class="button">OFF</a>
		</h3>
		<h3>
			GPIO 14
			<a href="/fourteen/on" class="button">ON</a>
			<a href="/fourteen/off" class="button">OFF</a>
		</h3>
		<h3>
			GPIO 15
			<a href="/fifteen/on" class="button">ON</a>
			<a href="/fifteen/off" class="button">OFF</a>
		</h3>
		<h3>
			GPIO 18
			<a href="/eighteen/on" class="button">ON</a>
			<a href="/eighteen/off" class="button">OFF</a>
		</h3>
		<h3>
			GPIO 23
			<a href="/twentythree/on" class="button">ON</a>
			<a href="/twentythree/off" class="button">OFF</a>
		</h3>
		<h3>
			GPIO 24
			<a href="/twentyfour/on" class="button">ON</a>
			<a href="/twentyfour/off" class="button">OFF</a>
		</h3>
		<h3>
			GPIO 25
			<a href="/twentyfive/on" class="button">ON</a>
			<a href="/twentyfive/off" class="button">OFF</a>
		</h3>
		<h3>
			GPIO 8
			<a href="/eight/on" class="button">ON</a>
			<a href="/eight/off" class="button">OFF</a>
		</h3>
		<h3>
			GPIO 7
			<a href="/seven/on" class="button">ON</a>
			<a href="/seven/off" class="button">OFF</a>
		</h3>
		<h3>
			GPIO 12
			<a href="/twelve/on" class="button">ON</a>
			<a href="/twelve/off" class="button">OFF</a>
		</h3>
		<h3>
			GPIO 16
			<a href="/sixteen/on" class="button">ON</a>
			<a href="/sixteen/off" class="button">OFF</a>
		</h3>
		<h3>
			GPIO 20
			<a href="/twenty/on" class="button">ON</a>
			<a href="/twenty/off" class="button">OFF</a>
		</h3>
		<h3>
			GPIO 21
			<a href="/twentyone/on" class="button">ON</a>
			<a href="/twentyone/off" class="button">OFF</a>
		</h3>
		<h3>
			GPIO 2
			<a href="/two/on" class="button">ON</a>
			<a href="/two/off" class="button">OFF</a>
		</h3>
		<h3>
			GPIO 3
			<a href="/three/on" class="button">ON</a>
			<a href="/three/off" class="button">OFF</a>
		</h3>
		<h3>
			GPIO 4
			<a href="/four/on" class="button">ON</a>
			<a href="/four/off" class="button">OFF</a>
		</h3>
		<h3>
			GPIO 17
			<a href="/seventeen/on" class="button">ON</a>
			<a href="/seventeen/off" class="button">OFF</a>
		</h3>
		<h3>
			GPIO 27
			<a href="/twentyseven/on" class="button">ON</a>
			<a href="/twentyseven/off" class="button">OFF</a>
		</h3>
		<h3>
			GPIO 22
			<a href="/twentytwo/on" class="button">ON</a>
			<a href="/twentytwo/off" class="button">OFF</a>
		</h3>
		<h3>
			GPIO 10
			<a href="/ten/on" class="button">ON</a>
			<a href="/ten/off" class="button">OFF</a>
		</h3>
		<h3>
			GPIO 9
			<a href="/nine/on" class="button">ON</a>
			<a href="/nine/off" class="button">OFF</a>
		</h3>
		<h3>
			GPIO 11
			<a href="/eleven/on" class="button">ON</a>
			<a href="/eleven/off" class="button">OFF</a>
		</h3>
		<h3>
			GPIO 5
			<a href="/five/on" class="button">ON</a>
			<a href="/five/off" class="button">OFF</a>
		</h3>
		<h3>
			GPIO 6
			<a href="/six/on" class="button">ON</a>
			<a href="/six/off" class="button">OFF</a>
		</h3>


	</center>
</body>

</html>